#Alleventsbtn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    height: 300px;
}

#Createeventbtn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
    width: 100%;
    height: 300px;
}